{% extends "base.html.twig" %}

{% block body %}
   <div class="card">
        <div class="card-body">
            <div class="card-title">
                <a href="{{ url("auction_details", {"id": auction.id}) }}">{{ auction.title }}</a>
            </div>
            <div class="card-text">
                <p>{{ auction.description }}</p>
            </div>

            <ul class="list-group list-group-flus">
                <li class="list-group-item">Cena: {{ auction.price }} zł</li>
                <li class="list-group-item">Cena wywoławcza: {{ auction.startingPrice }} zł</li>
                <li class="list-group-item">Aukcja kończy się: {{ auction.expiresAt | expireDate }}</li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flus">
                {% for offer in auction.offers %}
                    <li class="list-group-item">Oferta: {{ offer.price }} zł, złożona {{ offer.createdAt | date("Y-m-d H:i:s") }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <a class="btn btn-primary float-left" href="{{ url("auction_index")}}">Powrót</a>
            {% if is_granted("ROLE_USER") %}
                {{ form_start(buyForm, {"attr": {"class": "float-left"}}) }}
                    {{ form_widget(buyForm.submit, {"attr": {"class": "btn-success"}}) }}
                    {{ form_rest(buyForm) }}
                {{ form_end(buyForm) }}
            {% endif %}
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            {% if is_granted("ROLE_USER") %}
                {{ form_start(bidForm, {"attr": {"class": "float-left"}}) }}
                    {{ form_rest(bidForm) }}
                    {{ form_widget(bidForm.submit, {"attr": {"class": "btn-success"}}) }}
                {{ form_end(bidForm, {"attr": {"novalidate": "novalidate"}}) }}
            {% else %}
                W celu kupienia przedmiotu proszę o zalogowanie się do swojego konta!
            {% endif %}
        </div>
    </div>

{% endblock %}