{% extends "base.html.twig" %}

{% block body %}
   <div class="card">
        <div class="card-body">
            <div class="card-title">
                <a href="{{ url("my_auction_details", {"id": auction.id}) }}">{{ auction.title }}</a>
            </div>
            <div class="card-text">
                <p>{{ auction.description }}</p>
            </div>

            <ul class="list-group list-group-flus">
                <li class="list-group-item">Cena: {{ auction.price }} zł</li>
                <li class="list-group-item">Cena wywoławcza: {{ auction.startingPrice }} zł</li>
                <li class="list-group-item">Aukcja kończy się: {{ auction.expiresAt | date("Y-m-d H:i:s") }}</li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flus">
                {% for offer in auction.offers %}
                    <li class="list-group-item">Oferta: {{ offer.price }} zł, złożona {{ offer.createdAt | date("Y-m-d H:i:s") }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a class="btn btn-primary float-left" href="{{ url("auction_index")}}">Powrót</a>
            <a class="btn btn-info float-left" href="{{ url("auction_edit", {"id": auction.id}) }}">Edytuj</a>
            {{ form_start(deleteForm, {"attr": {"class": "float-left"}}) }}
                {{ form_widget(deleteForm.submit, {"attr": {"class": "btn-danger"}}) }}
                {{ form_rest(deleteForm) }}
            {{ form_end(deleteForm) }}
            {{ form_start(finishForm, {"attr": {"class": "float-left"}}) }}
                {{ form_widget(finishForm.submit, {"attr": {"class": "btn-warning"}}) }}
                {{ form_rest(finishForm) }}
            {{ form_end(finishForm) }}
        </div>
    </div>
{% endblock %}